<h1>{{name}}</h1>
{{#each items}}
<div class="card">
    <p>{{name}}
    <a href="{{link}}" target="_blank">link</a>
    <p>Quantity Wanted: {{quantity}}</p>
    <button class="delBtn" data-projId="{{id}}">Delete Me</button>
    </p>
    <hr>
</div>
{{/each}}